# ignore secrets, virtual environments, and typical python compilation artifacts
secrets.toml
.venv/

# ignore python generated artifacts
.env
**/__pycache__/
**/*.py[cod]
**/*$py.class
build/
dist/
wheels/
*.egg-info

# ignore logs
*.log

# ignore duckdb
*.duckdb
*.wal

# ignore misc
.DS_Store